.palette {
  color: #2b2d42;
  color: #8d99ae;
  color: #edf2f4;
  color: #ef233c;
  color: #d90429;
}
body {
  font-family: "Space Mono", monospace;

  color-scheme: light dark;
  color: #edf2f4;
  background-color: #2b2d42;

  margin: 0;
  padding: 0;

  height: 70vh;
  aspect-ratio: 1.77;
}
.main {
  color: #ef233c;
}

.home {
  font-family: "Space Mono", monospace;
  color-scheme: light dark;
  color: #edf2f4;
  margin: 0;
  font-weight: bold;

  margin-inline-start: 10%;

  position: relative;

  width: 85vw;
  height: 70vw;
}

.home > h1,
h4 {
  position: relative;
  top: 20vw;
  font-size: 2vw;
  width: 50vw;
  margin: 0;
  color: #8d99ae;
}

.home > h2 {
  position: relative;
  top: 20vw;
  width: 100%;
  margin: 0;
  font-size: 3vw;
}
.home > h3 {
  position: relative;
  top: 20vw;
  width: 100%;
  margin: 0;
  color: #8d99ae;
  font-size: 2vw;
}

.social-media {
  width: 2.5vw;
  aspect-ratio: 1;
}

.accounts {
  position: relative;
  top: 21vw;
  scale: inherit;

  float: left;
  filter: invert(100%);
}

.navbar {
  background-color: #8d99ae;
  position: absolute;
  width: 98.9vw;
  height: 5vw;
  list-style-type: none;
}

.navbar li,
.navbar a {
  all: unset;
  position: relative;
  font-size: 2vw;
  display: inline;
  float: left;
  padding-left: 2vw;
}

.about-me {
  position: relative;
  top: 25vh;
  background-color: #2b2d42;
  width: 85vw;
  height: 70vw;
}

.grid-container {
  display: grid;
  width: 35%;
  height: 50%;
  grid-template-columns: auto auto auto auto;
  background-color: #2196f3;
  border-radius: 25px;
  padding: 1%;
}

.grid-title {
  position: relative;
  font-size: 200%;
  top: 7%;
  left: 14%;
}

.grid-item {
  position: relative;
  top: 10%;
  padding: 25%;
  font-size: 300%;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 320%;
  background-color: #726651;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5% 0;

  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
